.mobile-menu-btn {
    
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    margin-top: 10px;
  
    display: flex;
    align-items: center;
    
    cursor: pointer;
    fill: currentColor;

    margin-left: auto;
    z-index: 100;

    &:hover,
    &:focus {
            color: var(--accent-color);
        }

    @media screen and (min-width: 768px) {
            display: none;
        }

      
} 




.mobile-menu-burger {
    transition: --animation-transition;

    .mobile-menu-btn.is-open & {
        opacity: 0;
    }
}

.mobile-menu-close { 
    opacity: 0;
    transition: --animation-transition;

    .mobile-menu-btn.is-open & {
        opacity: 1;

}
}



.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);

    width: 100%;
    height: 100%;
    padding: 48px 40px;

    display: flex;
    flex-direction: column;

    background-color: #fff;

    z-index: 1;

    transition: --animation-transition;

    overflow-y: hidden;

    &.is-open {
        transform: translateX(0);
    }

   @media screen and (min-width: 768px) {
       display: none;
   }
       
}





.mobile-menu-nav {
    margin-bottom: auto;

}

.mobile-menu-nav-link {
    font-size: 40px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    
    color: #212121;

    &--current {
            color: var(--accent-color);
        }

}

.mobile-menu-nav-item {
  
    &:not(:last-child) {
        margin-bottom: 32px;
    }

    .current {
        color: #2196F3;
    }

}

.mobile-menu-contacts {
    margin-bottom: 64px;
    
}

.mobile-menu-contacts-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    color: #757575;

}

.mobile-menu-contacts-item {
    
    &:not(:last-child) {
            margin-bottom: 32px;
        }

     .accent {
     font-size: 34px;
     color: #2196F3;
     }
}

.mobile-menu-socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

}

.mobile-menu-socials-link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: #2196F3;
}

.mobile-menu-socials-item:not(:last-child) 
.mobile-menu-socials-link {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);

}