body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: var(--main-font), sans-serif;
    letter-spacing: 0.03em
}



body.modal-open {
       overflow: hidden;
   }

