body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: var(--main-font), sans-serif;
    letter-spacing: 0.03em

 

    // &.no-scroll {
    //         overflow: hidden;
    //     }
}

// * {
//     outline: 1px solid red;
// }

// body.modal-open {
//        overflow: hidden;
//    }

// .body.no-scroll {
//                overflow: hidden;
//            }