.button-agry {
    margin-left: 124px;

    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;

    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: transparent;

    transition: background-color var(--animation-transition);

    &:hover,
       &:focus {
            background-color: #188CE8;
        }

}

