.form-comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    max-width: 448px;
    height: 138px;

    & label {
            font-weight: 400;
            font-size: 12px;
            margin-bottom: 4px;
            line-height: 1.17;
            letter-spacing: 0.01em;
            color: var(--title-text-color);
        }
}

textarea {
    resize: none;
}

.form-comment textarea {
    padding: 12px 16px;
    margin: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: var(--animation-transition);

   &:focus {
    border: 1px solid var(--accent-color);
     }
    
      &::placeholder {
    
            font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
        }

}

