.form-field input {
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    cursor: pointer;
    transition: var(--animation-transition);

    &:focus {
            border: 1px solid var(--accent-color);
    
        }
    
    &:focus+.form-icon {
        fill: var(--accent-color);
    }


}
