:root {
    --main-font: "Roboto";
    --secondary-font: "Raleway";

    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-bg-gray-color: #2F303A;
    --secondary-dg-but-color: #F5F4FA;
    --svg-icon-color-gray: #AFB1B8;

    --animation-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}