.footer {



    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-bg-gray-color);

    &-container {
            display: flex;
            align-items: baseline;
        }
    
        &-title {
            display: flex;
            margin: 0;
    
            font-weight: 700;
            font-size: 14px;
            line-height: 1.15;
            letter-spacing: 0.03em;
            text-transform: uppercase;
    
            color: var(--primary-white-color);
    
        }

    
}


.footer-logo {
    padding: 0;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-right: 156px;
}

.logo--color {
    color: var(--primary-white-color);

}

.address {
    margin-top: 20px;

    &-list__item:nth-child(n+2) {
            margin-top: 9px;
    
        }
}



.address-list__link {
    margin-bottom: 9px;

    color: var(--primary-white-color);

    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    font-style: normal;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
        &:focus {
            color: var(--accent-color);
        }
}




.address-list__info {
    margin-bottom: 9px;

    color: rgba(255, 255, 255, 0.6);

    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    font-style: normal;

    transition: color var(--animation-transition);

    &:hover,
        &:focus {
            color: var(--accent-color);
        }

}

/* Соцсети футера */


.footer-media {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-media__link--color {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;


    width: 44px;
    height: 44px;

    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--primary-white-color);

    transition: background-color var(--animation-transition);

    &--color:hover,
        &--color:focus {
            background-color: var(--accent-color);
        }

}









