.team {
    // @extend %section;

    padding-top: 60px;
        padding-bottom: 60px;
    
        @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
    
        }
}

.team__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__list {

    @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
           
        }

              
}  
.team {
    background-color: var(--secondary-dg-but-color);

 
    
        &__subtitle {
            margin-bottom: 10px;
            margin-top: 0;
    
            color: var(--primary-text-color);
    
            font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
    
        }
    
        &__position {
            margin-top: 0;
            margin-bottom: 16px;
    
            color: var(--title-text-color);
    
            font-weight: 400;
            font-size: 16px;
            line-height: 1.9;
            text-align: center;
    
        }
}




.team__item {

    @media screen and (min-width: 768px) and (max-width: 1199px){
            width: 354px;
          
        }

    @media screen and (min-width: 1200px) {
            width: 270px;
          
    
        }


     &:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
        }
        }
    background: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

   
}